/*
 * Copyright (c) 2020 Alexander Wachter
 * SPDX-License-Identifier: Apache-2.0
 */

&arduino_spi {
	status = "okay";

	monitor: ina229@0 {
		compatible = "ti,ina229";
		reg = <0x0>;
		spi-max-frequency = <10000000>;
		label = "INA229";
		res = <30>;
		max-current = <1>;
	};
};
